* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background: black;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

.left-select {
  width: 100% !important;
}

.mid-select {
  width: 100% !important;
}

.right-select {
  width: 100% !important;
}

.active {
  color: #636363 !important;
  background: #fff;
}

@font-face {
  font-family: avenirBold;
  src: url("/font/AvenirNextCyr-Bold.woff");
}

@font-face {
  font-family: avenirMedium;
  src: url("/font/AvenirNextCyr-Medium.woff");
}

@font-face {
  font-family: avenirRegular;
  src: url("/font/AvenirNextCyr-Regular.woff");
  font-weight: 400;
}

#header {
  position: relative;
  z-index: 20;
  max-width: 100%;
  padding: 22px 35px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100vw - 100px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-left .menu-icon {
  width: 52px;
  height: 52px;
  margin-right: 5px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  cursor: pointer;
}

#header .header-left .menu-icon span {
  display: block;
  width: 32px;
  height: 2px;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
  background-color: white;
  margin: 5px 0;
}

#header .header-left .menu-icon .hburger-icon {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#header .header-left .menu-icon .hburger-icon span {
  -webkit-transition: 0.2s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: 0.2s cubic-bezier(0.52, 0.01, 0.16, 1);
}

#header .header-left .menu-icon .close-icon {
  position: absolute;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

#header .header-left .menu-icon .close-icon span {
  position: absolute;
  width: 22px;
  border-radius: 5px;
}

#header .header-left .menu-icon .close-icon span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header .header-left .menu-icon .close-icon span:last-child {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

#header .header-left .menu-icon:hover .hburger-icon span:first-child {
  margin-bottom: 8px;
}

#header .header-left .menu-icon:hover .hburger-icon span:last-child {
  margin-top: 8px;
}

#header .header-left .logo {
  position: relative;
}

#header .header-left .logo img {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 14px;
}

#header .header-left .logo span {
  display: block;
  font-size: 13px;
  font-family: avenirRegular;
  color: white;
  position: absolute;
  top: 32px;
  left: 36px;
}

#header .header-left .langs-select .langs {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header-left .langs-select .langs li {
  border: 1px solid white;
}

#header .header-left .langs-select .langs li:first-child {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

#header .header-left .langs-select .langs li:last-child {
  border-radius: 0 5px 5px 0;
}

#header .header-left .langs-select .langs li a {
  display: inline-block;
  color: white;
  font-family: avenirRegular;
  padding: 4px 7px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-size: 13px;
}

#header .header-left .langs-select .langs li a:hover {
  background: #fff;
  color: #636363;
}

#header .header-mid .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
}

#header .header-mid .links li {
  width: 50%;
  border: 1px solid white;
}

#header .header-mid .links li:first-child {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

#header .header-mid .links li:last-child {
  border-radius: 0 5px 5px 0;
}

#header .header-mid .links li a {
  width: 100%;
  text-align: center;
  display: block;
  color: white;
  font-family: avenirRegular;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-size: 16px;
  padding: 13px 0;
}

#header .header-mid .links li a:hover {
  background: #fff;
  color: #636363;
}

#header .header-right {
  padding: 0px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-right .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 14px;
}

#header .header-right .call img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

#header .header-right .call h6 {
  font-size: 20px;
  color: white;
  font-family: avenirBold;
  margin-bottom: 0;
}

#header .header-right .pay {
  margin-right: 30px;
}

#header .header-right .pay a {
  display: block;
  border: 1px solid white;
  border-radius: 5px;
  padding: 13px 15px;
  font-size: 16px;
  color: white;
  background: transparent;
  text-align: center;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  font-family: avenirRegular;
}

#header .header-right .notification {
  position: relative;
}

#header .header-right .notification .links {
  border-radius: 50%;
  border: 2px solid white;
  width: 45px;
  height: 45px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

#header .header-right .notification .links img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#header .header-right .notification span {
  display: block;
  text-align: center;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-family: avenirRegular;
  font-weight: bold;
  color: white;
  background: #d0021b;
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  line-height: 1.5;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

#main .item {
  width: calc(100% / 3 - 0px);
  -webkit-transition: 0.4s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: 0.4s cubic-bezier(0.52, 0.01, 0.16, 1);
  position: relative;
  height: 100vh;
  z-index: 10;
}

#main .item:hover .bg-video {
  opacity: 1;
}

#main .item:hover .actions {
  opacity: 1 !important;
}

#main .item::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: 0.4s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: 0.4s cubic-bezier(0.52, 0.01, 0.16, 1);
}

#main .item .main {
  height: 100%;
}

#main .item .main .bg-image .content {
  z-index: 1;
  padding: 0 40px;
  margin-right: 40px;
}

#main .item .main .bg-image .content .content-text b,
#main .item .main .bg-image .content .content-text h1 {
  color: white;
  margin: 0;
}

#main .item .main .bg-image .content .content-text b {
  font-size: 14px;
  font-family: avenirRegular;
  font-weight: 100;
}

#main .item .main .bg-image .content .content-text h1 {
  font-family: avenirBold;
  font-size: 77px;
  line-height: 1;
  letter-spacing: -2px;
}

#main .item .main .bg-image .content .actions {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  margin-top: 15px;
  opacity: 0;
  padding: 0;
}

#main .item .main .bg-image .content .actions .btn {
  display: inline-block;
  padding: 17px 35px;
  background: url(/img/bloor.png) no-repeat 60% #0094c9;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  color: white;
  font-family: avenirMedium;
  letter-spacing: -0.5px;
  margin-right: 20px;
}

#main .item .main .bg-image .content .actions .btn:hover {
  background: url(/img/bloor.png) no-repeat 50% #0094c9;
}

#main .item .main .bg-image .content .actions p {
  font-size: 16px;
  color: white;
  margin: 0 0 20px 0;
  font-family: avenirRegular;
  width: 90%;
}

#main .item .main .bg-image .content .actions .events {
  display: inline-block;
}

#main .item .main .bg-image .content .actions .events .event-box {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

#main .item .main .bg-image .content .actions .events .event-box li {
  border: 1px solid white;
  border-radius: 5px;
}

#main .item .main .bg-image .content .actions .events .event-box li:first-child {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

#main .item .main .bg-image .content .actions .events .event-box li:last-child {
  border-radius: 0 5px 5px 0;
}

#main .item .main .bg-image .content .actions .events .event-box li a {
  display: inline-block;
  color: white;
  font-family: avenirMedium;
  padding: 16px 20px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#main .item .main .bg-image .content .actions .events .event-box li a:hover {
  background: #fff;
  color: #636363;
}

#main .item .main .bg-image .content .actions .events .event-box .more {
  border-radius: 5px !important;
  border-right: 1px solid white !important;
}

#main .left-box {
  position: absolute;
  left: 0;
  top: 0;
}

#main .left-box .bg-left {
  background-image: url("img/videobg1.jpg");
  background-position: right;
}

#main .mid-box {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#main .mid-box .bg-mid {
  background-image: url("img/videobg2.jpg");
  background-position: center;
}

#main .right-box {
  position: absolute;
  right: 0;
  top: 0;
}

#main .right-box .bg-right {
  background-image: url("img/videobg3.png");
  background-position: right;
}

#main .bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  opacity: 0;
}

#main .bg-video video {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

#main-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.8s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: 0.8s cubic-bezier(0.52, 0.01, 0.16, 1);
  -webkit-clip-path: circle(150% at 0% 0);
          clip-path: circle(150% at 0% 0);
  background-color: #0094c9;
  padding-right: 100px;
}

#main-menu .container .content #input-group {
  width: 33.33%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px !important;
  margin: 0 auto;
}

#main-menu .container .content #input-group span {
  position: absolute;
  font-family: avenirRegular;
  font-size: 20px;
  opacity: 0.5;
  color: white;
}

#main-menu .container .content #input-group span img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: 10px;
  margin-bottom: 3px;
}

#main-menu .container .content #input-group input {
  width: 100%;
  background: transparent;
  padding: 23px 10px;
  text-align: center;
  font-size: 20px;
  font-family: avenirRegular;
  color: white;
}

#main-menu .container .content .cats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main-menu .container .content .cats-item .left-cat {
  background-image: url("./img/videobg1.jpg");
}

#main-menu .container .content .cats-item .mid-cat {
  background-image: url("./img/videobg2.jpg");
}

#main-menu .container .content .cats-item .right-cat {
  background-image: url("./img/videobg3.png");
}

#main-menu .container .content .cats-item .cat {
  padding: 35px;
  width: calc(100%/3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-family: avenirRegular;
  color: white;
  position: relative;
}

#main-menu .container .content .cats-item .cat:hover .cat-bg {
  opacity: .4;
}

#main-menu .container .content .cats-item .cat:first-child {
  border-right: none;
}

#main-menu .container .content .cats-item .cat:last-child {
  border-left: none;
}

#main-menu .container .content .cats-item .cat p {
  font-size: 14px;
  margin-bottom: 0;
}

#main-menu .container .content .cats-item .cat h1 {
  font-family: avenirBold;
  font-size: 49px;
  margin-bottom: 15px;
}

#main-menu .container .content .cats-item .cat ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main-menu .container .content .cats-item .cat ul li {
  width: 50%;
}

#main-menu .container .content .cats-item .cat ul li a {
  font-size: 15px;
  color: white;
}

#main-menu .container .content .cats-item .cat ul li a:hover {
  text-decoration: underline !important;
}

#main-menu .container .content .cats-item .cat .cat-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#main-menu .container .content .cats-item .cat .cat-text {
  position: relative;
  z-index: 10;
}

#right-menu {
  width: 100px;
  height: 100%;
  z-index: 30;
  position: fixed;
  right: 0;
  top: 0;
  border-left: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#right-menu .menu {
  width: 90px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#right-menu .menu .menu-item {
  border-top: 1px solid #bfe4f1;
  width: 100%;
}

#right-menu .menu .menu-item:last-child {
  border-bottom: 1px solid #bfe4f1;
}

#right-menu .menu .menu-item a {
  width: 100px !important;
  padding: 15px 0 27px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  font-size: 12.5px;
  font-family: avenirRegular;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  background: transparent;
  margin-left: -5px;
}

#right-menu .menu .menu-item a:hover {
  background: #0094c9;
}

#right-menu .menu .menu-item a img {
  width: 39px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 3px;
}

#footer {
  width: calc(100vw - 100px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 35px 40px;
  margin-right: 100px;
  max-width: 100%;
  z-index: 20;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-family: avenirRegular;
}

#footer .footer-left .copyright {
  margin-bottom: 10px;
  color: white;
  font-size: 14px;
}

#footer .footer-left .footer-nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-left .footer-nav .nav .links:first-child a {
  padding-left: 0;
}

#footer .footer-left .footer-nav .nav .links:last-child a {
  text-decoration: none !important;
}

#footer .footer-left .footer-nav .nav .links a {
  color: white;
  padding: 0px 10px;
  text-decoration: underline !important;
}

#footer .footer-left .footer-nav .nav .links a:hover {
  text-decoration: none !important;
}

#footer .footer-left .footer-nav .nav .links a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 14px;
  height: 14px;
  position: relative;
  bottom: -2px;
  margin-left: 5px;
}

#footer .footer-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#footer .footer-mid a {
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline !important;
}

#footer .footer-mid a:hover {
  text-decoration: none !important;
}

#footer .footer-mid a img {
  width: 17px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

#footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: flex;
  color: white;
  font-size: 14px;
}

#footer .footer-right p {
  margin-right: 8px;
  margin-bottom: 0;
}

#footer .footer-right .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

#footer .footer-right .social-icons li {
  margin: 0 4px;
}

#footer .footer-right .social-icons li:last-child {
  margin-right: 0;
}

#footer .footer-right .social-icons li a i {
  font-size: 15px;
  color: white;
}
/*# sourceMappingURL=style.css.map */