* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    background: black;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px!important;
    }
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none!important;
}

.left-select {
    width: 100%!important;
}

.mid-select {
    width: 100%!important;
}

.right-select {
    width: 100%!important;
}

.active {
    color: #636363!important;
    background: #fff;
}

@font-face {
    font-family: avenirBold;
    src: url("/font/AvenirNextCyr-Bold.woff");
}

@font-face {
    font-family: avenirMedium;
    src: url("/font/AvenirNextCyr-Medium.woff");
}

@font-face {
    font-family: avenirRegular;
    src: url("/font/AvenirNextCyr-Regular.woff");
    font-weight: 400;
}

// @font-face {
//     font-family: 'd';
//     font-display: swap;
//     src: url('/font/AvenirNextCyr-Demi.eot');
//     src: url('/font/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'), url('/font/AvenirNextCyr-Demi.woff') format('woff'), url('/font/AvenirNextCyr-Demi.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal
// }
// @font-face {
//     font-family: 'avenirBold';
//     font-display: swap;
//     src: url('/font/AvenirNextCyr-Bold.eot');
//     src: url('/font/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'), url('/font/AvenirNextCyr-Bold.woff') format('woff'), url('/font/AvenirNextCyr-Bold.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal
// }
// @font-face {
//     font-family: 'avenirMedium';
//     font-display: swap;
//     src: url('/font/AvenirNextCyr-Regular.eot');
//     src: url('/font/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'), url('/font/AvenirNextCyr-Regular.woff') format('woff'), url('/font/AvenirNextCyr-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal
// }
// @font-face {
//     font-family: 'avenirRegular';
//     font-display: swap;
//     src: url('/font/AvenirNextCyr-Medium.eot');
//     src: url('/font/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'), url('/font/AvenirNextCyr-Medium.woff') format('woff'), url('/font/AvenirNextCyr-Medium.ttf') format('truetype');
//     font-weight: 200;
//     font-style: normal
// }
// header-style-start
#header {
    position: relative;
    z-index: 20;
    max-width: 100%;
    padding: 22px 35px 20px;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 100px);
    box-sizing: border-box;
    .header-left {
        display: flex;
        align-items: center;
        .menu-icon {
            width: 52px;
            height: 52px;
            margin-right: 5px;
            // background: rgba(0, 0, 0, .2);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            cursor: pointer;
            span {
                display: block;
                width: 32px;
                height: 2px;
                transition: all 500ms cubic-bezier(1.000, 0, 0, 1);
                background-color: white;
                margin: 5px 0;
            }
            .hburger-icon {
                transform: scale(1);
                span {
                    transition: .2s cubic-bezier(.52, .01, .16, 1);
                }
            }
            .close-icon {
                position: absolute;
                transform: scale(1);
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                visibility: hidden;
                span {
                    position: absolute;
                    width: 22px;
                    border-radius: 5px;
                    &:first-child {
                        transform: rotate(45deg);
                    }
                    &:last-child {
                        transform: rotate(135deg);
                    }
                }
            }
            &:hover {
                .hburger-icon {
                    span {
                        &:first-child {
                            margin-bottom: 8px;
                        }
                        &:last-child {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
        .logo {
            position: relative;
            img {
                width: 200px;
                object-fit: cover;
                margin-right: 14px;
            }
            span {
                display: block;
                font-size: 13px;
                font-family: avenirRegular;
                color: white;
                position: absolute;
                top: 32px;
                left: 36px;
            }
        }
        .langs-select {
            .langs {
                margin-bottom: 0;
                display: flex;
                li {
                    border: 1px solid white;
                    &:first-child {
                        border-right: none;
                        border-radius: 5px 0 0 5px;
                    }
                    &:last-child {
                        border-radius: 0 5px 5px 0;
                    }
                    a {
                        display: inline-block;
                        color: white;
                        font-family: avenirRegular;
                        padding: 4px 7px;
                        transition: 0.3s ease-out;
                        font-size: 13px;
                        &:hover {
                            background: #fff;
                            color: #636363;
                        }
                    }
                }
            }
        }
    }
    .header-mid {
        .links {
            display: flex;
            width: 240px;
            li {
                width: 50%;
                border: 1px solid white;
                &:first-child {
                    border-right: none;
                    border-radius: 5px 0 0 5px;
                }
                &:last-child {
                    border-radius: 0 5px 5px 0;
                }
                a {
                    width: 100%;
                    text-align: center;
                    display: block;
                    color: white;
                    font-family: avenirRegular;
                    transition: 0.3s ease-out;
                    font-size: 16px;
                    padding: 13px 0;
                    &:hover {
                        background: #fff;
                        color: #636363;
                    }
                }
            }
        }
    }
    .header-right {
        padding: 0px 12px;
        display: flex;
        align-items: center;
        .call {
            display: flex;
            align-items: baseline;
            margin-right: 14px;
            img {
                object-fit: contain;
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
            h6 {
                font-size: 20px;
                color: white;
                font-family: avenirBold;
                margin-bottom: 0;
            }
        }
        .pay {
            margin-right: 30px;
            a {
                display: block;
                border: 1px solid white;
                border-radius: 5px;
                padding: 13px 15px;
                font-size: 16px;
                color: white;
                background: transparent;
                text-align: center;
                transition: .3s ease-out;
                font-family: avenirRegular;
            }
        }
        .notification {
            position: relative;
            .links {
                border-radius: 50%;
                border: 2px solid white;
                width: 45px;
                height: 45px;
                overflow: hidden;
                box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            span {
                display: block;
                text-align: center;
                width: 18px;
                height: 18px;
                font-size: 12px;
                font-family: avenirRegular;
                font-weight: bold;
                color: white;
                background: #d0021b;
                position: absolute;
                top: -5px;
                left: -5px;
                border-radius: 50%;
                line-height: 1.5;
            }
        }
    }
}

// header-style-end
// main-style-start
#main {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    .item {
        width: calc(100% / 3 - 0px);
        transition: .4s cubic-bezier(.52, .01, .16, 1);
        position: relative;
        height: 100vh;
        z-index: 10;
        &:hover {
            .bg-video {
                opacity: 1;
            }
            .actions {
                opacity: 1!important;
            }
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .2);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
            transition: .4s cubic-bezier(.52, .01, .16, 1);
        }
        .main {
            height: 100%;
            .bg-image {
                .content {
                    z-index: 1;
                    padding: 0 40px;
                    margin-right: 40px;
                    .content-text {
                        b,
                        h1 {
                            color: white;
                            margin: 0;
                        }
                        b {
                            font-size: 14px;
                            font-family: avenirRegular;
                            font-weight: 100;
                        }
                        h1 {
                            font-family: avenirBold;
                            font-size: 77px;
                            line-height: 1;
                            letter-spacing: -2px;
                        }
                    }
                    .actions {
                        transition: 0.3s ease-out;
                        margin-top: 15px;
                        opacity: 0;
                        padding: 0;
                        .btn {
                            display: inline-block;
                            padding: 17px 35px;
                            background: url(/img/bloor.png) no-repeat 60% #0094c9;
                            border-radius: 5px;
                            transition: .3s;
                            color: white;
                            font-family: avenirMedium;
                            letter-spacing: -0.5px;
                            margin-right: 20px;
                            &:hover {
                                background: url(/img/bloor.png) no-repeat 50% #0094c9;
                            }
                        }
                        p {
                            font-size: 16px;
                            color: white;
                            margin: 0 0 20px 0;
                            font-family: avenirRegular;
                            width: 90%;
                        }
                        .events {
                            display: inline-block;
                            .event-box {
                                padding: 0;
                                margin: 0;
                                display: flex;
                                border-radius: 5px;
                                li {
                                    border: 1px solid white;
                                    border-radius: 5px;
                                    &:first-child {
                                        border-right: none;
                                        border-radius: 5px 0 0 5px;
                                    }
                                    &:last-child {
                                        border-radius: 0 5px 5px 0;
                                    }
                                    a {
                                        display: inline-block;
                                        color: white;
                                        font-family: avenirMedium;
                                        padding: 16px 20px;
                                        transition: 0.3s ease-out;
                                        &:hover {
                                            background: #fff;
                                            color: #636363;
                                        }
                                    }
                                }
                                .more {
                                    border-radius: 5px!important;
                                    border-right: 1px solid white!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .left-box {
        position: absolute;
        left: 0;
        top: 0;
        .bg-left {
            background-image: url("img/videobg1.jpg");
            background-position: right;
        }
    }
    .mid-box {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        .bg-mid {
            background-image: url("img/videobg2.jpg");
            background-position: center;
        }
    }
    .right-box {
        position: absolute;
        right: 0;
        top: 0;
        .bg-right {
            background-image: url("img/videobg3.png");
            background-position: right;
        }
        .main {
            video {
                // right: -191px;   
            }
        }
    }
    .bg-image {
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        display: flex;
        align-items: center;
    }
    .bg-video {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 0.5s ease-out;
        opacity: 0;
        video {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: 0.5s ease-out;
        }
    }
}

// main-style-end
// main-menu-style-start
#main-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 19;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .8s cubic-bezier(.52, .01, .16, 1);
    clip-path: circle(150% at 0% 0);
    background-color: #0094c9;
    padding-right: 100px;
    .container {
        .content {
            #input-group {
                width: 33.33%;
                text-align: center;
                background-color: rgba(255, 255, 255, .15);
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px!important;
                margin: 0 auto;
                span {
                    position: absolute;
                    font-family: avenirRegular;
                    font-size: 20px;
                    opacity: 0.5;
                    color: white;
                    img {
                        object-fit: cover;
                        max-width: 100%;
                        width: 20px;
                        margin-right: 10px;
                        margin-bottom: 3px;
                    }
                }
                input {
                    width: 100%;
                    background: transparent;
                    padding: 23px 10px;
                    text-align: center;
                    font-size: 20px;
                    font-family: avenirRegular;
                    color: white;
                }
            }
            .cats-item {
                display: flex;
                flex-wrap: wrap;
                .left-cat {
                    background-image: url("./img/videobg1.jpg");
                }
                .mid-cat {
                    background-image: url("./img/videobg2.jpg");
                }
                .right-cat {
                    background-image: url("./img/videobg3.png");
                }
                .cat {
                    padding: 35px;
                    width: calc(100%/3);
                    border: 1px solid rgba(255, 255, 255, .15);
                    font-family: avenirRegular;
                    color: white;
                    position: relative;
                    &:hover {
                        .cat-bg {
                            opacity: .4;
                        }
                    }
                    &:first-child {
                        border-right: none;
                    }
                    &:last-child {
                        border-left: none;
                    }
                    p {
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                    h1 {
                        font-family: avenirBold;
                        font-size: 49px;
                        margin-bottom: 15px;
                    }
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        li {
                            width: 50%;
                            a {
                                font-size: 15px;
                                color: white;
                                &:hover {
                                    text-decoration: underline!important;
                                }
                            }
                        }
                    }
                    .cat-bg {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        transition: all .3s ease-out;
                    }
                    .cat-text {
                        position: relative;
                        z-index: 10;
                    }
                }
            }
        }
    }
}

// main-menu-style-end
// menu-style-start
#right-menu {
    width: 100px;
    height: 100%;
    z-index: 30;
    position: fixed;
    right: 0;
    top: 0;
    border-left: 1px solid white;
    display: flex;
    justify-content: center;
    .menu {
        width: 90px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .menu-item {
            border-top: 1px solid #bfe4f1;
            width: 100%;
            &:last-child {
                border-bottom: 1px solid #bfe4f1;
            }
            a {
                width: 100px!important;
                padding: 15px 0 27px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                color: white;
                font-size: 12.5px;
                font-family: avenirRegular;
                transition: .3s ease-out;
                background: transparent;
                margin-left: -5px;
                &:hover {
                    background: #0094c9;
                }
                img {
                    width: 39px;
                    height: 40px;
                    object-fit: cover;
                    margin-bottom: 3px;
                }
            }
        }
    }
}

// menu-style-end
// footer-style-start
#footer {
    width: calc(100vw - 100px);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 22px 35px 40px;
    margin-right: 100px;
    max-width: 100%;
    z-index: 20;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-family: avenirRegular;
    .footer-left {
        .copyright {
            margin-bottom: 10px;
            color: white;
            font-size: 14px;
        }
        .footer-nav {
            .nav {
                display: flex;
                .links {
                    &:first-child {
                        a {
                            padding-left: 0;
                        }
                    }
                    &:last-child {
                        a {
                            text-decoration: none!important;
                        }
                    }
                    a {
                        color: white;
                        padding: 0px 10px;
                        text-decoration: underline!important;
                        &:hover {
                            text-decoration: none!important;
                        }
                        img {
                            object-fit: cover;
                            width: 14px;
                            height: 14px;
                            position: relative;
                            bottom: -2px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
    .footer-mid {
        display: flex;
        align-items: flex-end;
        a {
            color: white;
            position: relative;
            display: flex;
            align-items: center;
            text-decoration: underline!important;
            &:hover {
                text-decoration: none!important;
            }
            img {
                width: 17px;
                height: 18px;
                object-fit: cover;
                margin-right: 10px;
                position: relative;
                top: 2px;
            }
        }
    }
    .footer-right {
        display: flex;
        align-items: flex-end;
        display: flex;
        color: white;
        font-size: 14px;
        p {
            margin-right: 8px;
            margin-bottom: 0;
        }
        .social-icons {
            display: flex;
            margin-bottom: 0;
            li {
                margin: 0 4px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    i {
                        font-size: 15px;
                        color: white;
                    }
                }
            }
        }
    }
}

// footer-style-end